* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    background: #f5f5f5;
}

.main-layout {
    display: flex;
    flex-direction: column;
    height: 100%; /* it is need to IE10 - IE11 */
}

.main-header,
.main-nav,
.main-footer {
    flex-shrink: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* main header section */

.main-header {
    background: lightgrey;
}

/* main nav (api buttons) */

.main-nav {
    background: #253238;
}

.main-nav .container {
    display: flex;
    flex-wrap: wrap;
}

/* main part */

main {
    flex: 1 0 auto;
}

/* main footer section */

.main-footer {
    min-height: 100px;
    font-weight: bold;
    background: #253238;
    color: #d3d3d3;
}

/* blocks */

.b-finance-add {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
    padding: 10px;
    background: white;
    border: 1px solid lightgrey;
    border-top: none;
}

.b-finance-add__input-container {
    flex-grow: 1;
}

.b-finance-add__input-container input {
    display: block;
    width: 100%;
    padding: 6px 5px;
    font-size: 1em;
    border: 1px solid lightgrey;
}

.b-finance-add__button-container > .b-btn {
    line-height: normal;
}

.b-finance-info {
    display: flex;
    flex-wrap: wrap;
}

.b-finance-item {
    flex-basis: 25%; /* 4 item in a row */
}

.b-finance-item > section {
    margin: 10px;
    border: 1px solid lightgrey;
    background: white;
    transition: all 0.3s ease;
}

.b-finance-item > section:hover {
    box-shadow: 0 0 5px gray;
}

.b-finance-item__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: lightgrey;
}

.b-finance-item__head h3 {
    flex-grow: 1;
    width: 80%;
    margin: 0;
}

.b-finance-item__head button {
    background: #d3d3d3;
}

.b-finance-item__body {
    padding: 10px;
}

.b-finance-item .b-finance-data {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0 5px 0;
    border-bottom: 1px solid lightgrey;
}

.b-finance-item .b-finance-data:first-of-type {
    margin-top: 5px;
}

.b-finance-item .b-finance-data:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

.b-finance-data__title,
.b-finance-data__value {
    flex-basis: 100%;
    margin: 5px 0;
    font-weight: bold;
}

.b-finance-data__title {
    font-size: 0.8em;
    color: gray;
}

.b-finance-data__value {
    text-align: right;
}

/* btn */
.b-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.b-btn:focus,
.b-btn:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.b-btn:hover,
.b-btn:focus {
    color: #333;
    text-decoration: none;
}
.b-btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.b-btn_primary,
.b-btn_primary:focus {
    background: #253238;
    color: #f5f5f5;
    transition: background 0.3s ease;
}

.b-btn_primary:hover {
    background: lightgrey;
    color: black;
}

.b-btn_primary:active {
    background: linear-gradient(0deg, lightgrey 40%, #253238 100%);
}

.b-btn_danger-simple {
    padding: 0 3px;
    font-size: 1.2em;
    border: none;
    transition: color 0.3s ease;
}

.b-btn_danger-simple:hover {
    color: darkred;
}

@media screen and (max-width: 1000px) {

    .b-finance-item {
        flex-basis: 50%; /* 2 item in a row */
    }

}

@media screen and (max-width: 500px) {

    .main-header {
        display: none;
    }

    .b-finance-item {
        flex-basis: 100%; /* 1 item in a row */
    }

    .b-finance-add {
        margin: 0;
    }

    .b-finance-item > section {
        margin: 10px 0;
    }

    .b-finance-data__title,
    .b-finance-data__value {
        flex-basis: auto;
    }

    .b-finance-data__title {
        flex-grow: 1;
    }

}