//base variables

//size

//media size
$mediaSm: 1000px;
$mediaXs: 500px;

//container size
$containerWidth: 100%;
$maxContainerWidth: 1200px;
$containerLeftRightPadding: 15px;

$mainFooterHeight: 100px;
$baseBorderWidth: 1px;
$baseOffset: 10px;

//font sizes
$baseFontSize: 16px;
$baseRelativeFontSize: 1em;
$inputFontSize: $baseRelativeFontSize;
$baseButtonFontSize: $baseRelativeFontSize;
$baseSimpleButtonFontSize: 1.2em;
$formErrorMessageSize: 0.8em;

//buttons padding
$buttonTopBottomPadding: 6px;
$buttonLeftRightPadding: 12px;

//border width
$inputBorderWidth: $baseBorderWidth;
$buttonBorderWidth: $baseBorderWidth;

//border
$baseBorderStyle: solid;

//time
$baseTransitionTime: 0.3s;
$baseTimingFunction: ease;
$baseTransitionDelay: 0s;

$buttonsTransitionTime: $baseTransitionTime;
$shadowFinanceItemTransitionTime: $baseTransitionTime;
$basketTransitionTime: $baseTransitionTime;