//transition
@mixin transition($property, $duration: $baseTransitionTime, $timingFunction: $baseTimingFunction, $delay: $baseTransitionDelay) {
  transition: $property $duration $timingFunction $delay;
}

//border
@mixin fullBorder($color, $width: $baseBorderWidth, $style: $baseBorderStyle) {
  border: $width $style $color;
}

//input
@mixin baseInput {
  @include fullBorder($inputBorderColor, $inputBorderWidth);
  display: block;
  width: 100%;
}

//box-shadow
@mixin boxShadow($x, $y, $blur, $color: $shadowColor, $inset: false) {
  @if($inset == true) {
    box-shadow: inset $color $x $y $blur;
  }
  @else {
    box-shadow: $color $x $y $blur;
  }
}

//inline form settings
@mixin inlineForm($padding, $fontSize: $baseRelativeFontSize) {
  padding-top: $padding;
  padding-bottom: $padding;
  line-height: normal;
  font-size: $fontSize;
}