//colors
$whiteColor: white;
$blackColor: black;
$blackColor08: rgba(0, 0, 0, 0.8);
$darkColor: #253238;
$grayColor: gray;
$lightGrayColor: #d3d3d3;
$minLightGrayColor: #f5f5f5;
$darkRedColor: darkred;
$greenColor: green;
$greenColor06: rgba(0, 200, 0, 0.6);
$greenColor08: rgba(0, 200, 0, 0.8);
$redColor: red;
$redColor06: rgba(200, 0, 0, 0.6);
$redColor08: rgba(200, 0, 0, 0.8);
$orangeColor: orange;
$orangeColor06: rgba(255, 165, 0, 0.6);

//layout colors
$layoutBackground: $minLightGrayColor;
$mainHeaderBackground: $lightGrayColor;
$mainNavBackground: $darkColor;
$mainFooterBackground: $darkColor;
$mainFooterTextColor: $minLightGrayColor;

//base colors
$dangerTextColor: $darkRedColor;
$shadowColor: $grayColor;
$overlayColor: $blackColor08;

//button colors
$primaryButtonColor: $darkColor;
$primaryButtonTextColor: $minLightGrayColor;
$primaryButtonColorOnHover: $lightGrayColor;
$primaryButtonTextColorOnHover: $blackColor;
$dangerButtonColor: $darkRedColor;
$dangerButtonTextColor: $minLightGrayColor;
$dangerButtonColorOnHover: $lightGrayColor;
$dangerButtonTextColorOnHover: $blackColor;
//buttons in active stage will be with gradient (that's why two colors for active state are below)
$primaryButtonColorOnActiveBottom: $lightGrayColor;
$primaryButtonColorOnActiveTop: $darkColor;
$primaryButtonTextColorOnActive: $blackColor;
$dangerButtonColorOnActiveBottom: $lightGrayColor;
$dangerButtonColorOnActiveTop: $darkColor;
$dangerButtonTextColorOnActive: $blackColor;

//input colors
$inputBorderColor: $lightGrayColor;

//finance item colors
$financeItemBackground: $whiteColor;
$financeAddBlockBackground: $whiteColor;
$financeDataTitleColor: $grayColor;
$financeAddBlockBorderColor: $lightGrayColor;
$financeItemBlockBorderColor: $lightGrayColor;
$financeItemHeadBackground: $lightGrayColor;

//finance data value colors
$financeDataValuePositive: $greenColor;
$financeDataValueNegative: $darkRedColor;

//modal colors
$modalWindowBackground: $minLightGrayColor;
$modalWindowHeaderBackground: $lightGrayColor;
$modalWindowBorderColor: $whiteColor;

//global loading colors
$globalLoadingFirstColor: $redColor;
$globalLoadingFirstColorOpacity: $redColor06;
$globalLoadingSecondColor: $greenColor;
$globalLoadingSecondColorOpacity: $greenColor06;
$globalLoadingThirdColor: $orangeColor;
$globalLoadingThirdColorOpacity: $orangeColor06;

//alert colors
$alertBackground: $lightGrayColor;
$alertWarningBackground: $orangeColor;
$alertTextColor: $blackColor;
$alertDangerBackground: $darkRedColor;
$alertDangerTextColor: $whiteColor;

//global message colors
$baseGlobalMessageColor: $blackColor08;
$successGlobalMessageColor: $greenColor08;
$errorGlobalMessageColor: $redColor08;
$baseGlobalMessageTextColor: $whiteColor;
$successGlobalMessageTextColor: $whiteColor;
$errorGlobalMessageTextColor: $whiteColor;

//error block color
$errorBlockColor: $darkRedColor;

//delete basket color
$deleteBasketColor: $darkRedColor;