//finance items count in a row
$baseCountItemsInRow: 4;
$baseCountItemsInRowSm: 2;
$baseCountItemsInRowXs: 1;

//finance add block and item blocks margin and padding
$financeItemLeftRightMargin: $baseOffset;
$financeItemTopBottomMargin: $baseOffset;
$financeItemLeftRightPadding: $baseOffset;
$financeItemTopBottomPadding: $baseOffset;
$financeAddBlockLeftRightMargin: $baseOffset;
$financeAddBlockPadding: $baseOffset;

//finance data top, bottom margin
$financeDataTopMargin: 15px;
$financeDataBottomMargin: 5px;

//finance inline form top, bottom padding
$financeInlineFormPadding: 6px;

//font sizes
$financeDataTitleFontSize: 0.8em;

//border width
$financeAddBlockBorderWidth: $baseBorderWidth;
$financeItemBlockBorderWidth: $baseBorderWidth;