$globalLoadingWidth: 72px;
$globalLoadingHeight: (72px/2);
$globalLoadingZIndex: 10000;

$animationLoadingInner: global-loading-inner;
$animationLoadingOuter: global-loading-outer;
$animationDuration: 1s;
$animationItemMaxDelay: 0.4s;