<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-strict-di>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Finance info</title>
    <link rel="stylesheet" href="css/main.min.css">
    <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="main-layout" ng-controller="BaseController as baseCtrl">
        <header class="main-header">
            <section class="container">
                <h1>Finance info</h1>
            </section>
        </header>

        <nav class="main-nav">
            <div class="container" ng-controller="FinanceVariantController as financeVariantCtrl">
                <a ng-repeat="item in financeVariantCtrl.apiItems.apiTypes"
                   ui-sref="apiFinance({ apiName: item.value })"
                   ui-sref-active="b-btn_primary_active"
                   class="b-btn b-btn_primary"
                   ng-bind="item.name">
                </a>
            </div>
        </nav>

        <main class="container">
            <div ng-if="baseCtrl.globalCorrectApi.isCorrect" ng-controller="FinanceAddController as financeAddCtrl">
                <form name="financeAddForm" class="b-finance-add" ng-submit="financeAddCtrl.addFinanceInfo(financeAddForm)" novalidate>
                    <div class="b-finance-add__input-container">
                        <input type="text" name="companyName" one-field-form-blur
                               ng-model="financeAddCtrl.company.name" ng-model-options="{ updateOn: 'blur' }"
                               placeholder="Enter name" autocomplete="off" required ng-pattern="/^[A-Za-z0-9]*$/">
                    </div>
                    <div class="b-finance-add__button-container">
                        <button class="b-btn b-btn_primary">
                            <span class="fa fa-plus"></span>&nbsp;
                            Add
                        </button>
                    </div>
                    <div class="one-form-field-error-message">
                        <p ng-show="financeAddForm.companyName.$error.required">The field is required</p>
                        <p ng-show="financeAddForm.companyName.$error.pattern">The field must contain only letters and numbers</p>
                    </div>
                </form>
            </div>
            <div ui-view></div>
            <div ng-show="!baseCtrl.globalCorrectApi.isCorrect" class="ng-hide b-alert b-alert_danger">
                <p class="b-alert__message">You have set wrong api name</p>
            </div>
        </main>

        <footer class="main-footer">
            <div class="container">
                <p>Copyright &copy; All rights reserved</p>
                <p>Dzmitry Miadzvedski</p>
            </div>
        </footer>

        <div global-loading data-show="baseCtrl.globalLoading.show"></div>
        <div global-message data-message="baseCtrl.globalMessage.message" data-type="baseCtrl.globalMessage.type" data-hide="baseCtrl.globalMessage.hide"></div>
    </div>

    <!-- js files -->
    <script src="js/lib/angular/angular.min.js"></script>
    <script src="js/lib/angular/angular-ui-router.min.js"></script>
    <script src="js/app.min.js"></script>
</body>
</html>