.b-alert {
  margin: $alertTopBottomMargin $alertLeftRightMargin;
  padding: $alertTopBottomPadding $alertLeftRightPadding;
  color: $alertTextColor;
  background: $alertBackground;

  &_warning {
    background: $alertWarningBackground;
  }

  &_danger {
    color: $alertDangerTextColor;
    background: $alertDangerBackground;
  }

  &__message {
    padding: 0;
    margin: 0;
  }

}