* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-size: $baseFontSize;
  background: $layoutBackground;
}

.main-layout {
  @include verticalFlex;
  height: 100%; /* it is need to IE10 - IE11 */
}

.main-header,
.main-nav,
.main-footer {
  flex-shrink: 0;
}

.container {
  width: $containerWidth;
  max-width: $maxContainerWidth;
  margin: 0 auto;
  padding: 0 $containerLeftRightPadding;
}

/* main header section */
.main-header {
  background: $mainHeaderBackground;

  @media screen and (max-width: $mediaXs) {
    display: none;
  }

}

/* main nav (a line with api buttons) */
.main-nav {
  background: $mainNavBackground;

  .container {
    @include flexWithWrap;
  }

}

/* main part */
main {
  flex: 1 0 auto;
}

/* main footer section */
.main-footer {
  min-height: $mainFooterHeight;
  font-weight: bold;
  background: $mainFooterBackground;
  color: $mainFooterTextColor;
}