.b-btn {

  @include fullBorder(transparent, $buttonBorderWidth);

  display: inline-block;
  padding: $buttonTopBottomPadding $buttonLeftRightPadding;
  margin-bottom: 0;
  text-decoration: none;
  font-size: $baseButtonFontSize;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;

  &:focus,
  &:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active {
    @include boxShadow(0, 3px, 5px, $shadowColor, true);
    background-image: none;
    outline: 0;
  }

}

.b-btn_primary {

  @include transition(background, $buttonsTransitionTime);

  background: $primaryButtonColor;
  color: $primaryButtonTextColor;

  &:hover,
  &_active {
    background: $primaryButtonColorOnHover;
    color: $primaryButtonTextColorOnHover;
  }

  &:active {
    background: linear-gradient(0deg, $primaryButtonColorOnActiveBottom 40%, $primaryButtonColorOnActiveTop 100%);
  }

}

.b-btn_danger {

  @include transition(background, $buttonsTransitionTime);

  background: $dangerButtonColor;
  color: $dangerButtonTextColor;

  &:hover {
    background: $dangerButtonColorOnHover;
    color: $dangerButtonTextColorOnHover;
  }

  &:active {
    background: linear-gradient(0deg, $dangerButtonColorOnActiveBottom 40%, $dangerButtonColorOnActiveTop 100%);
  }

}

.b-btn_simple {
  padding: 0;
  font-size: $baseSimpleButtonFontSize;
  line-height: normal;
  background: none;
  border: none;

  @include transition(color, $buttonsTransitionTime);

  &_danger:hover {
    color: $dangerTextColor;
  }
}