.b-finance-info {
  @include flexWithWrap;
}

.b-finance-item {

  flex-basis: (100% / $baseCountItemsInRow);

  @media screen and (max-width: $mediaSm) {
    flex-basis: (100% / $baseCountItemsInRowSm);
  }

  @media screen and (max-width: $mediaXs) {
    flex-basis: (100% / $baseCountItemsInRowXs);
  }

  &_drag-drop {

    @include transition(all);

    &_active {
      opacity: 0.75;
      transform: scale(0.8);
    }

  }

  > section {

    @include fullBorder($financeItemBlockBorderColor, $financeItemBlockBorderWidth);
    @include transition(all, $shadowFinanceItemTransitionTime);

    margin: $financeItemTopBottomMargin $financeItemLeftRightMargin;
    background: $financeItemBackground;

    &:hover {
      @include boxShadow(0, 0, 5px, $shadowColor);
    }

    @media screen and (max-width: $mediaXs) {
      margin: $financeItemTopBottomMargin 0;
    }

  }

}

.b-finance-item__head {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $financeItemTopBottomPadding $financeItemLeftRightPadding;
  background: $financeItemHeadBackground;

  h3 {
    flex-grow: 1;
    width: 80%;
    margin: 0;
  }

}

.b-finance-item__body {
  padding: $financeItemTopBottomPadding $financeItemLeftRightPadding;
}

.b-finance-item .b-finance-data {

  @include flexWithWrap;
  margin: $financeDataTopMargin 0 $financeDataBottomMargin 0;
  border-bottom: $financeItemBlockBorderWidth $baseBorderStyle $financeItemBlockBorderColor;

  &:first-of-type {
    margin-top: ($financeDataTopMargin - $financeItemTopBottomPadding);
  }

  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
  }

}

.b-finance-data__title,
.b-finance-data__value {

  flex-basis: 100%;
  margin: 5px 0;
  font-weight: bold;

  @media screen and (max-width: $mediaXs) {
    flex-basis: auto;
  }

}

.b-finance-data__title {

  font-size: $financeDataTitleFontSize;
  color: $financeDataTitleColor;

  @media screen and (max-width: $mediaXs) {
    flex-grow: 1;
  }

}

.b-finance-data__value {
  text-align: right;

  &_negative {
    color: $financeDataValueNegative;
  }

  &_positive {
    color: $financeDataValuePositive;
  }

}