.b-finance-item-actions {

  @include flexWithWrap;

  justify-content: space-between;
  flex-basis: 100%;
  margin: 10px 10px 0 10px;

}

.drop-container {

  opacity: 0;
  margin-right: 30px;

  @include transition(all, $basketTransitionTime);

  @media screen and (max-width: $mediaXs) {
    display: none;
  }

  &_active {
    opacity: 1;
    margin-right: 0;
  }

  &_hover {
    color: $deleteBasketColor;
  }

}