.b-finance-add {

  margin: 0 $financeAddBlockLeftRightMargin;
  padding: $financeAddBlockPadding;
  background: $financeAddBlockBackground;
  border-top: none;

  @include flexWithWrap;
  @include fullBorder($financeAddBlockBorderColor, $financeAddBlockBorderWidth);

  @media screen and (max-width: $mediaXs) {
    margin: 0;
  }

  &__input-container {

    flex-grow: 1;

    input {
      @include baseInput;
      @include inlineForm($financeInlineFormPadding);
      padding-left: 5px;
      padding-right: 5px;
    }

  }

  &__button-container > .b-btn {
    @include inlineForm($financeInlineFormPadding);
  }

}