input.one-form-field-invalid {
  @include fullBorder($errorBlockColor);
}

.one-form-field-error-message {

  display: none;
  flex-basis: 100%;
  margin-top: 5px;
  font-size: $formErrorMessageSize;
  font-weight: bold;
  color: $errorBlockColor;

  > p {
    margin: 3px 0;
    padding: 0;
  }

}