.b-global-message {

  position: fixed;
  display: none;
  top: 5px;
  right: 5px;
  width: 80%;
  max-width: $maxGlobalMessageBlock;
  padding: $globalMessagePadding;
  z-index: 50;

  @include boxShadow(0, 0, 10px, $shadowColor);

  &__message {

    flex-grow: 1;
    width: 80%;

    > p {
      margin: 0;
      padding: 0;
    }

  }

  &__message,
  &__close {
    padding: 0 5px;
  }

  &_shown {

    @include flexWithWrap;

    &_base {
      background: $baseGlobalMessageColor;
      color: $baseGlobalMessageTextColor;
    }

    &_success {
      background: $successGlobalMessageColor;
      color: $successGlobalMessageTextColor;
    }

    &_error {
      background: $errorGlobalMessageColor;
      color: $errorGlobalMessageTextColor;
    }

  }

}