.b-global-loading {
  position: fixed;
  z-index: $globalLoadingZIndex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.b-global-loading__load {

  position: relative;
  width: $globalLoadingWidth;
  height: $globalLoadingHeight;

  > div {
    position: absolute;
    width: 0;
    height: 0;
    top: ($globalLoadingHeight/2);
    left: ($globalLoadingHeight/2);
  }

  > div:first-child {
    z-index: ($globalLoadingZIndex + 10);
    background: $globalLoadingFirstColor;
  }

  > div:nth-child(2) {
    z-index: ($globalLoadingZIndex + 9);
    background: $globalLoadingFirstColor;
    background: $globalLoadingFirstColorOpacity;
  }

  > div:nth-child(3) {
    margin-left: ($globalLoadingWidth/4);
    z-index: ($globalLoadingZIndex + 10);
    background: $globalLoadingSecondColor;
  }

  > div:nth-child(4) {
    margin-left: ($globalLoadingWidth/4);
    z-index: ($globalLoadingZIndex + 9);
    background: $globalLoadingSecondColor;
    background: $globalLoadingSecondColorOpacity;
  }

  > div:nth-child(5) {
    margin-left: ($globalLoadingWidth/2);
    z-index: ($globalLoadingZIndex + 12);
    background: $globalLoadingThirdColor;
  }

  > div:nth-child(6) {
    margin-left: ($globalLoadingWidth/2);
    z-index: ($globalLoadingZIndex + 11);
    background: $globalLoadingThirdColor;
    background: $globalLoadingThirdColorOpacity;
  }

  &_active {

    > div:first-child {
      animation: $animationLoadingInner ($animationDuration/2) linear 0s infinite normal forwards;
    }

    > div:nth-child(2) {
      animation: $animationLoadingOuter $animationDuration linear 0s infinite normal forwards;
    }

    > div:nth-child(3) {
      animation: $animationLoadingInner ($animationDuration/2) linear $animationItemMaxDelay infinite normal forwards;
    }

    > div:nth-child(4) {
      animation: $animationLoadingOuter $animationDuration linear $animationItemMaxDelay infinite normal forwards;
    }

    > div:nth-child(5) {
      animation: $animationLoadingInner ($animationDuration/2) linear ($animationItemMaxDelay/2) infinite normal forwards;
    }

    > div:nth-child(6) {
      animation: $animationLoadingOuter $animationDuration linear ($animationItemMaxDelay/2) infinite normal forwards;
    }

  }

}

@keyframes #{$animationLoadingInner} {
  from {  }
  to {
    width: ($globalLoadingWidth / 4);
    height: ($globalLoadingHeight / 2);
    top: ($globalLoadingHeight / 4);
    left: ($globalLoadingHeight / 4);
  }
}

@keyframes #{$animationLoadingOuter} {
  from {  }
  to {
    width: ($globalLoadingWidth / 2);
    height: $globalLoadingHeight;
    top: 0;
    left: 0;
  }
}