.finance-modal-overlay {
  position:fixed;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  min-height:100%;
  background-color: $overlayColor;
}

.b-finance-modal-window {

  position: fixed;
  z-index:10000;
  max-width: $maxModalWindowWidth;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $modalWindowBackground;

  @include fullBorder($modalWindowBorderColor, $modalBorderWidth);
  @include boxShadow(0, 0, 5px, $shadowColor, true);

  &__header {

    padding: $modalWindowTopBottomPadding $modalWindowTopBottomPadding;
    font-weight: bold;
    background: $modalWindowHeaderBackground;

    @include flexWithWrap;

    h4 {
      flex-grow: 1;
      margin: 0;
    }

  }

  &__body {
    padding: $modalWindowTopBottomPadding $modalWindowTopBottomPadding;
  }

}