<div ng-if="baseCtrl.globalCorrectApi.isCorrect" class="b-finance-info">

    <div ng-show="financeDataCtrl.companiesData.isEmpty" class="b-alert b-alert_warning">
        <p class="b-alert__message">There is no information about companies</p>
    </div>

    <div class="b-finance-item-actions">
        <div ng-show="!financeDataCtrl.companiesData.isEmpty" class="share-types">
            <div class="share-types__btns">
                <button class="b-btn b-btn_primary" ng-class="{'b-btn_primary_active': financeDataCtrl.isActiveShareType(0)}" ng-click="financeDataCtrl.setShareType(0)">All</button>
                <button class="b-btn b-btn_primary" ng-class="{'b-btn_primary_active': financeDataCtrl.isActiveShareType(1)}" ng-click="financeDataCtrl.setShareType(1)">Positive</button>
                <button class="b-btn b-btn_primary" ng-class="{'b-btn_primary_active': financeDataCtrl.isActiveShareType(-1)}" ng-click="financeDataCtrl.setShareType(-1)">Negative</button>
            </div>
            <div ng-show="!filteredCompaniesInfo.length" class="b-alert b-alert_warning share-types__message">
                <p class="b-alert__message">There is no such companies</p>
            </div>
        </div>
        <div drag-drop data-drag-elements-class="b-finance-item_drag-drop"
             data-drop-handler="financeDataCtrl.prepareDeleteCompanyInfo(name)"
             data-watch-elements="{{filteredCompaniesInfo.length}}">
            <span class="fa fa-trash fa-2x"></span>
        </div>
    </div>

    <div ng-repeat="company in financeDataCtrl.companiesInfo | share:financeDataCtrl.companiesData.shareType as filteredCompaniesInfo"
         finance-item data-company="company" data-delete-item="financeDataCtrl.prepareDeleteCompanyInfo(name)">
    </div>

    <div class="ng-hide" modal data-show="financeDataCtrl.deleteCompanyModalWindow.isShown" data-close="financeDataCtrl.cancelDeleteCompanyInfo()" data-modal-title="Confirm deletion">
        <p>Do you really want to delete an information about the company?</p>
        <div>
            <button class="b-btn b-btn_primary" ng-click="financeDataCtrl.deleteCompanyInfo()">Confirm</button>&nbsp;
            <button class="b-btn b-btn_danger" ng-click="financeDataCtrl.cancelDeleteCompanyInfo()">Cancel</button>
        </div>
    </div>

</div>