<div class="b-global-message" data-baseClassName="b-global-message">
    <div class="b-global-message__message">
        <p ng-bind="message"></p>
    </div>
    <div class="b-global-message__close">
        <button type="button" class="b-btn b-btn_simple b-btn_simple_danger">
            <span class="fa fa-close"></span>
        </button>
    </div>
</div>