<div class="b-finance-item b-finance-item_drag-drop" data-marker="{{company.symbol}}">
    <section>
        <header class="b-finance-item__head">
            <h3 ng-bind="company.symbol"></h3>
            <div class="b-finance-item__remove">
                <button class="b-btn b-btn_simple b-btn_simple_danger" ng-click="deleteItem({name: company.symbol})">
                    <span class="fa fa-close"></span>
                </button>
            </div>
        </header>
        <div class="b-finance-item__body">
            <div class="b-finance-data">
                <p class="b-finance-data__title">Last price</p>
                <p class="b-finance-data__value" ng-bind="company.lastPrice"></p>
            </div>
            <div class="b-finance-data">
                <p class="b-finance-data__title">Change</p>
                <p ng-class="{'b-finance-data__value': true, 'b-finance-data__value_negative': company.change<0, 'b-finance-data__value_positive': company.change>0 }"
                   ng-bind="company.change">
                </p>
            </div>
            <div class="b-finance-data">
                <p class="b-finance-data__title">% Change</p>
                <p ng-class="{'b-finance-data__value': true, 'b-finance-data__value_negative': company.change<0, 'b-finance-data__value_positive': company.change>0 }"
                   ng-bind="company.percentChange">
                </p>
            </div>
        </div>
    </section>
</div>