<div ng-show="isShown">
    <div class="finance-modal-overlay"></div>
    <div class="b-global-loading">
        <div ng-class="{'b-global-loading__load': true, 'b-global-loading__load_active': isShown}">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>