<div class="finance-modal" ng-show="isShown">
    <div ng-if="notNeedToCloseByEvent!='true'" class="finance-modal-overlay" ng-click="close()"></div>
    <div ng-if="notNeedToCloseByEvent=='true'" class="finance-modal-overlay"></div>
    <div class="b-finance-modal-window">
        <div class="b-finance-modal-window__header">
            <h4>{{header}}</h4>
            <div class="b-finance-modal-window__close" ng-if="notNeedToCloseByEvent!='true'">
                <button type="button" class="b-btn b-btn_simple b-btn_simple_danger" ng-click="close()">
                    <span class="fa fa-times"></span>
                </button>
            </div>
        </div>
        <div class="b-finance-modal-window__body" ng-transclude>
        </div>
    </div>
</div>